{% extends "fragments/base.html" %}

{% block content %}
    <div class="form-container">
        <h1>📝 Insertar Pelicula</h1>
        <form method="post" action="/peliculas/new">
            <div class="form-group">
                <label for="titulo">Título de la pelicula:</label><br>
                <input type="text" id="titulo" name="titulo" placeholder="Nombre de la pelicula">
            </div>

            <div class="form-group">
                <label for="sinopsis">Sinopsis:</label><br>
                <textarea id="sinopsis" name="sinopsis" placeholder="Sinopsis de la pelicula"></textarea>
            </div>
            
            <div class="form-group">
                <label for="director">Director:</label><br>
                <input type="text" id="director" name="director" placeholder="Director de la pelicula">
            </div>

            <div class="form-group">
                <label for="genero">Género:</label><br>
                <input type="text" id="genero" name="genero" placeholder="Género de la pelicula">
            </div>

            <div class="form-group">
                <label for="clasificacion">Clasificación:</label><br>
                <input type="text" id="clasificacion" name="clasificacion" placeholder="Clasificación de la pelicula">
            </div>

            <div class="form-group">
                <label for="duracion_min">Duración (minutos):</label><br>
                <input type="number" id="duracion_min" name="duracion_min" placeholder="Duración en minutos">
            </div>

            <div class="form-group">
                <label for="presupuesto_millones">Presupuesto (millones de dólares):</label><br>
                <input type="number" step="0.01" id="presupuesto_millones" name="presupuesto_millones" placeholder="Presupuesto en millones de dólares">
            </div>

            <div class="form-group">
                <label for="disponible">Disponible:</label><br>
                <select id="disponible" name="disponible">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="fecha_estreno">Fecha de estreno:</label><br>
                <input type="date" id="fecha_estreno" name="fecha_estreno">
            </div>

            <div class="form-group">
                <label for="puntuacion">Puntuación:</label><br>
                <input type="number" step="0.1" id="puntuacion" name="puntuacion" placeholder="Puntuación de la pelicula">
            </div>

            <button type="submit">Guardar Pelicula</button>
        </form>
        <br>
        <div>
        <a href="/peliculas" class="back-link">← Volver a la lista de peliculas</a>
        </div>
    </div>
{% endblock %}    

